{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant{% endblock %}

{% block body %}
    <h1>Ajouter un participant</h1>
    {{ form(formulaire) }}
    <p>2</p>
    <p>RATIE</p>
    <p>Mathurin</p>
    <p>EODE</p>
    <p>3</p>
    <p>REINOLD</p>
    <p>Frederic</p>
    <p>EPSI</p>
{% endblock %}
