{% extends 'base.html.twig' %}

{% block title %}Resolution de l'ardoise{% endblock %}

{% block body %}
    <h1>Résolution de l'ardoise :</h1>
    <br>
    <br>
    <br>
    {% for p in paiements %}
        <h4>{{ p }}</h4>
    {% endfor %}
{% endblock %}